section {
  padding-top: 60px;
}

nav {
  backdrop-filter: blur(5px);
}
.navbar-brand {
  letter-spacing: 3px;
}
.nav-link:hover {
  font-weight: bold;
}

.note {
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}
